body{

    font: small/160% Verdana, Helvetica, Arial, sans-serif;
}

h1,h2{
    color: #007e7e;
}

h1{
    font-size: 150%;
}

h2{
    font-size: 130%;
}

#guarantee{

    border: white 1px dashed;
    border-radius: 40px;

    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 40%;
    line-height: 190%;
    font-style: italic;
    color: #444444;
    font-family: Georgia, "Times New Roman", Times, serif;

    background: top left no-repeat #a7cece url(images/background.gif);
}

#footer{
    color:red;
}

#elixirs{

    border: thin solid #007e7e;
    width: 200px;


    padding: 0px 20px 20px 20px;

    margin-left: 20px;

    text-align: center;


    background: repeat-x url(images/cocktail.gif);

    line-height: 1;

}

#elixirs>h2{
    color: black;
}

#elixirs h3{
    color: #d12c47;
}

#copyright{
    font-size: 50%;
    text-align: center;
    line-height: normal;
    margin-top: 30px;

}

.cd{
    font-style: italic;
}

.artist{
    font-weight: bold;
}

#elixirs a:link{
    color: #007e7e;
}
#elixirs a:visited{
    color: #333333;
}
#elixirs a:hover{
    background: #f88396;
    color: #0d5353;
}












