p{
    color: maroon;


}
h1,h2{
    color: gray;

}
h1{
    border-bottom: 1px solid black;
}
h2{
    text-decoration: underline;
}
body{
    font-family: sans-serif;
}

.greentea{
    color: green;
}

.blueberry{
    color: purple;
}

.rasberry{
    color: blue;
}
